/* styles.css */
body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 2rem auto;
  }
  
  h1 {
    color: #0077cc;
  }
  
  form input,
  form button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
  }
  
  ul li {
    background-color: #f3f3f3;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .tweet-item {
    padding: 8px;
    background: #f2f2f2;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
  background-color: #ffdddd;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ffaaaa;
}

.tweet-item button {
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.tweet-item button:hover {
  opacity: 0.8;
}

